:host {
    width: 100%;
    cursor: pointer;
}
.bookmark-item__body {
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}
.bookmark-item__title {
    margin-left: 10px;
}
.bookmark-item__left {
    text-overflow: ellipsis;
    overflow: hidden;
    width: calc(100% - 100px);
    white-space: nowrap;
}
.bookmark-item__right {
    position: absolute;
    right: 10px;
}