<div (click)="focus()" [ngStyle]="getStyle()" class="bookmark-item__body">
    <div class="bookmark-item__left">
        <font-icon *ngIf="hasChildren()" (click)="toggle($event)" [active]="true" icon="faChevronDown" size="13px"></font-icon> <span [ngStyle]="{'color': focused ? 'orange' : '#333'}" class="bookmark-item__title">{{item.name}}</span>
    </div>
    <ng-container *ngIf="focused">
        <div class="bookmark-item__right">
            <font-icon [onClick]="addBookmark" [active]="true" [style]="{'margin': '0 5px'}" icon="faPlus" size="16px"></font-icon>
            <font-icon [onClick]="editBookmark" [active]="true" [style]="{'margin': '0 5px'}" icon="faPen" size="16px"></font-icon>
            <font-icon [onClick]="deleteBookmark" [active]="true" [style]="{'margin': '0 5px'}" icon="faTimesCircle" size="16px"></font-icon>
            <font-icon [onClick]="DnDBookmark" [active]="true" [style]="{'margin': '0 5px'}" icon="faListAlt" size="16px"></font-icon>
        </div>
    </ng-container>
</div>

<ng-container *ngIf="isOpened()">
    <bookmark-item
        [levelTree]="getLevelTree()"
        [item]="item"
        *ngFor="let item of getChildren(); index as i; trackBy: trackByFn"
    ></bookmark-item>
</ng-container>