:host {
   width: 100%;
   height: 100%;
   background-color: rgba($color: #000000, $alpha: 0.5);
   position: absolute;
   z-index: 1000;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}
.modal-body {
   min-height: 100px;
   width: 700px;
   border: 1px solid #333;
   border-radius: 5px;
   background-color: white;
   display: flex;
   flex-direction: column;
   padding: 20px;
   box-sizing: border-box;
}
.modal-body_input-row {
   margin-bottom: 10px;
}
.modal-body_t2 {
   padding-right: 5px;
}
.modal-body_input {
   margin-left: 10px;
}
.modal-footer {
   width: 100%;
   height: 50px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}
.modal-header {
   font-size: 20px;
   margin-bottom: 20px;
}