<form (ngSubmit)="onSubmit()" [formGroup]="form" class="modal-body">
    <div class="modal-header">{{getTitle()}}</div>

    <label class="modal-body_input-row">
        <span class="modal-body_t1">Name:</span>
        <input formControlName="name" class="modal-body_input" type="text">

        <div class="alert alert-danger"
        *ngIf="submitted && form.controls['name'].errors && form.controls['name'].errors.required">
            Name is required
        </div>

        <div class="alert alert-danger"
        *ngIf="submitted && form.controls['name'].errors && form.controls['name'].errors.minlength">
            Name is short(minimum: {{form.controls['name'].errors.minlength.requiredLength}})
        </div>

        <div class="alert alert-danger"
        *ngIf="submitted && form.controls['name'].errors && form.controls['name'].errors.maxlength">
            Name is long(maximum: {{form.controls['name'].errors.maxlength.requiredLength}})
        </div>
        
    </label>

    <label class="modal-body_input-row">
        <span class="modal-body_t2">Page:</span>
        <input class="modal-body_input" type="text" (keydown)="fixNumbers($event)" formControlName="page">

        <div class="alert alert-danger"
        *ngIf="submitted && form.controls['page'].errors && form.controls['page'].errors.required">
            Page is required
        </div>

    </label>

    <div class="modal-footer">
        <button type="reset" (click)="hide()">Cancel</button>
        <button type="submit">{{getTitleButton()}}</button>
    </div>
</form>