<!-- no need BEM -->
<div class="left-side">
    <font-icon icon="faCopy" size="23px"></font-icon>
    <font-icon [active]="true" icon="faBookmark" size="23px"></font-icon>
</div>
<font-icon (click)="showAddBookmarkModal()" [active]="true" icon="faPlus" size="23px"></font-icon>